h1{
    text-align: center;
}

.description{
    padding: 15px;
    font-size: 30px;
}

.description>button{
    font-size: 30px;
    padding: 5px;
}

.score-zone{
    font-size: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 15px;
}

.score-zone>button{
    font-size: 30px;
    padding: 5px;
}

.card-zone{
    display:grid;
    gap: 10px;

    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.zodiac-card{
    border: 1px solid black;
    width: 300px;
    height: 350px;
    padding: 10px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.zodiac-card>img{
    width: 250px;
    height: 200px;
}

.zodiac-card>p{
    font-size: 35px;
}